adbutils==0.6.2
alembic==1.3.1
aliyun-python-sdk-core==2.13.11
aliyun-python-sdk-core-v3==2.13.11
aliyun-python-sdk-kms==2.8.0
altgraph==0.16.1
androidviewclient==15.8.1
APScheduler==3.6.3
asgiref==3.2.3
astroid==2.0.4
bcrypt==3.1.7
cairocffi==1.1.0
CairoSVG==2.4.2
certifi==2019.9.11
cffi==1.13.2
chardet==3.0.4
cli-helpers==1.2.1
Click==7.0
colorama==0.4.0
configobj==5.0.6
configparser==4.0.2
crcmod==1.7
cryptography==2.8
cssselect2==0.2.2
cycler==0.10.0
DBUtils==1.3
decorator==4.4.1
defusedxml==0.6.0
demjson==2.2.4
Deprecated==1.2.7
deprecation==2.0.7
DingtalkChatbot==1.3.0
Django==3.0
django-admin-view-permission==1.9
django-adminlte-ui==1.4.0
django-treebeard==4.3
docopt==0.6.2
entrypoints==0.3
facebook-wda==0.4.1
flake8==3.7.9
Flask==1.1.1
Flask-Admin==1.5.4
Flask-Cors==3.0.8
Flask-Login==0.4.1
Flask-Migrate==2.5.2
Flask-SQLAlchemy==2.4.1
Flask-WTF==0.14.2
future==0.18.2
gunicorn==20.0.0
html5lib==1.0.1
humanize==0.5.1
idna==2.8
importlib-metadata==1.2.0
inflect==3.0.2
influxdb==5.2.3
isort==4.3.4
itchat==1.2.32
itsdangerous==1.1.0
Jinja2==2.10.3
jmespath==0.9.4
kiwisolver==1.0.1
lazy-object-proxy==1.3.1
logzero==1.5.0
longan-sqlite==1.3
lxml==4.4.1
Mako==1.1.0
MarkupSafe==1.1.1
matplotlib==3.0.2
mccabe==0.6.1
more-itertools==8.0.0
mycli==1.20.1
mysqlclient==1.4.6
netifaces==0.10.9
netmiko==2.4.2
numpy==1.15.4
oss2==2.9.0
packaging==19.2
pandas==0.25.3
paramiko==2.6.0
pdfkit==0.6.1
pefile==2019.4.18
Pillow==6.2.1
progress==1.5
prompt-toolkit==3.0.2
psycopg2==2.8.4
ptftpd==1.3
py==1.8.0
py3tftp==1.2.1
pycat==0.1.1
pycodestyle==2.5.0
pycparser==2.19
pycryptodome==3.9.4
pyflakes==2.1.1
pyftpdlib==1.5.5
Pygments==2.5.2
pyinstall==0.1.4
PyInstaller==3.5
pylint==2.1.1
pylint-django==2.0.13
pylint-plugin-utils==0.6
PyMySQL==0.9.3
PyNaCl==1.3.0
pyparsing==2.3.0
Pyphen==0.9.5
pypiwin32==223
pypng==0.0.20
PyQRCode==1.2.1
PyQt5==5.11.3
PyQt5-sip==4.19.13
pyqt5-tools==5.11.2.1.3
pyserial==3.4
python-dateutil==2.7.5
python-dotenv==0.9.1
python-editor==1.0.4
pytz==2018.9
pywin32==227
pywin32-ctypes==0.2.0
pyzabbix==0.7.5
qqbot==2.3.11
requests==2.22.0
requests-toolbelt==0.9.1
retry==0.9.2
scp==0.13.2
six==1.11.0
spark-parser==1.8.9
sqlacodegen==2.1.0
SQLAlchemy==1.3.11
sqlparse==0.3.0
tabulate==0.8.6
telnetlib3==1.0.2
terminaltables==3.1.0
textfsm==1.1.0
tftpy==0.8.0
tinycss2==1.0.2
tornado==6.0.3
typed-ast==1.1.0
tzlocal==2.0.0
uiautomator2==2.0.0
uncompyle==2.0.0
uncompyle6==3.5.1
upyun==2.5.3
urllib3==1.25.6
virtualenv==16.7.8
wcwidth==0.1.7
WeasyPrint==50
webencodings==0.5.1
weditor==0.3.1
Werkzeug==0.16.0
whichcraft==0.6.1
wkhtmltopdf==0.2
wrapt==1.10.11
WTForms==2.2.1
wxpy==0.3.9.8
xdis==4.1.3
yapf==0.28.0
zipp==0.6.0
